In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
data= data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
label_encoder_gender= LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [9]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder_geo = OneHotEncoder()
geo_encoder=one_hot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder_df=pd.DataFrame(geo_encoder.toarray(),columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))

In [10]:
data=pd.concat([data.drop('Geography',axis=1),geo_encoder_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [11]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('one_hot_encoder_geo.pkl','wb') as file:
    pickle.dump(one_hot_encoder_geo,file)

In [12]:
# Scale the input
X=data.drop('EstimatedSalary',axis=1)
Y=data['EstimatedSalary']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

Scaler = StandardScaler()
X_train=Scaler.fit_transform(X_train)
X_test=Scaler.transform(X_test)

In [13]:
with open('Scaler.pkl','wb') as file:
    pickle.dump(Scaler,file)

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [ ]:
#Build the model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1) # default activation is linear activation if not provided
])

# Compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

c:\Users\HP\anaconda3\envs\myenv\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_1 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
log_dir="RegressionLogs/fit/" + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorboard_callback= TensorBoard(log_dir=log_dir,histogram_freq=1)

In [18]:
early_stopping_callback= EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [20]:
#Train model
history= model.fit(
    X_train,Y_train,
    validation_data=(X_test,Y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 9ms/step - loss: 99933.2578 - mae: 99933.2578 - val_loss: 98520.8281 - val_mae: 98520.8281
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 100065.5703 - mae: 100065.5703 - val_loss: 96994.8516 - val_mae: 96994.8516
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 98040.0781 - mae: 98040.0781 - val_loss: 93069.9219 - val_mae: 93069.9219
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 93569.0547 - mae: 93569.0547 - val_loss: 86513.2500 - val_mae: 86513.2500
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 86185.0078 - mae: 86185.0078 - val_loss: 78089.2656 - val_mae: 78089.2656
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 77166.0703 - mae: 77166.0703 - val_loss: 69172.2188 - val_mae: 69172.2188
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 68219.6094 - mae: 68219.6094 - val_loss: 61566.6562 - val_mae: 61566.6562
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 59779.8906 - mae: 59779.8906 - val_loss: 56066.8984 - val_mae: 56066.8984
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 55506.3438 - mae: 55506.3438 - val_loss: 52870.4688 - val_mae: 52870.4688
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 52495.4570 - mae: 52495.4570 - val_loss: 51493.0234 - val_mae: 51493.0234
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50667.6602 - mae: 50667.6602 - val_loss: 51009.1602 - val_mae: 51009.1602
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50247.8594 - mae: 50247.8594 - val_loss: 50862.6523 - val_mae: 50862.6523
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50562.6133 - mae: 50562.6133 - val_loss: 50798.8906 - val_mae: 50798.8906
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50021.0586 - mae: 50021.0586 - val_loss: 50750.1016 - val_mae: 50750.1016
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50157.4297 - mae: 50157.4297 - val_loss: 50715.5312 - val_mae: 50715.5312
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50456.1523 - mae: 50456.1523 - val_loss: 50678.4023 - val_mae: 50678.4023
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49615.4297 - mae: 49615.4297 - val_loss: 50650.0898 - val_mae: 50650.0898
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50469.2383 - mae: 50469.2383 - val_loss: 50613.2344 - val_mae: 50613.2344
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49960.5547 - mae: 49960.5547 - val_loss: 50585.3867 - val_mae: 50585.3867
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50217.2617 - mae: 50217.2617 - val_loss: 50557.4297 - val_mae: 50557.4297
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49547.0156 - mae: 49547.0156 - val_loss: 50527.1523 - val_mae: 50527.1523
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49885.1914 - mae: 49885.1914 - val_loss: 50500.1641 - val_mae: 50500.1641
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49544.5781 - mae: 49544.5781 - val_loss: 50479.8828 - val_mae: 50479.8828
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50034.2578 - mae: 50034.2578 - val_loss: 50462.6133 - val_mae: 50462.6133
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49537.2188 - mae: 49537.2188 - val_loss: 50450.5312 - val_mae: 50450.5312
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49710.6641 - mae: 49710.6641 - val_loss: 50445.4844 - val_mae: 50445.4844
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49557.1094 - mae: 49557.1094 - val_loss: 50428.5117 - val_mae: 50428.5117
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49819.1758 - mae: 49819.1758 - val_loss: 50407.6055 - val_mae: 50407.6055
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49386.3086 - mae: 49386.3086 - val_loss: 50403.8867 - val_mae: 50403.8867
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50039.9609 - mae: 50039.9609 - val_loss: 50382.2148 - val_mae: 50382.2148
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49818.5547 - mae: 49818.5547 - val_loss: 50377.6602 - val_mae: 50377.6602
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49459.4922 - mae: 49459.4922 - val_loss: 50366.2891 - val_mae: 50366.2891
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50016.8398 - mae: 50016.8398 - val_loss: 50365.2891 - val_mae: 50365.2891
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49680.3281 - mae: 49680.3281 - val_loss: 50356.2812 - val_mae: 50356.2812
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49323.4141 - mae: 49323.4141 - val_loss: 50348.8945 - val_mae: 50348.8945
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49401.1289 - mae: 49401.1289 - val_loss: 50351.5703 - val_mae: 50351.5703
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49895.6523 - mae: 49895.6523 - val_loss: 50341.9102 - val_mae: 50341.9102
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49353.9492 - mae: 49353.9492 - val_loss: 50322.6289 - val_mae: 50322.6289
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49831.0547 - mae: 49831.0547 - val_loss: 50321.4492 - val_mae: 50321.4492
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49991.0273 - mae: 49991.0273 - val_loss: 50331.5781 - val_mae: 50331.5781
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49527.2188 - mae: 49527.2188 - val_loss: 50323.3516 - val_mae: 50323.3516
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49968.8828 - mae: 49968.8828 - val_loss: 50319.4062 - val_mae: 50319.4062
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49364.9258 - mae: 49364.9258 - val_loss: 50324.1289 - val_mae: 50324.1289
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50165.0938 - mae: 50165.0938 - val_loss: 50325.3047 - val_mae: 50325.3047
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49009.5781 - mae: 49009.5781 - val_loss: 50327.8008 - val_mae: 50327.8008
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49968.4297 - mae: 49968.4297 - val_loss: 50315.5430 - val_mae: 50315.5430
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49341.2969 - mae: 49341.2969 - val_loss: 50320.2109 - val_mae: 50320.2109
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50555.8984 - mae: 50555.8984 - val_loss: 50318.9453 - val_mae: 50318.9453
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49684.3789 - mae: 49684.3789 - val_loss: 50325.5391 - val_mae: 50325.5391
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49369.5859 - mae: 49369.5859 - val_loss: 50322.7773 - val_mae: 50322.7773
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49159.8516 - mae: 49159.8516 - val_loss: 50320.1953 - val_mae: 50320.1953
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49979.0703 - mae: 49979.0703 - val_loss: 50309.7852 - val_mae: 50309.7852
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49917.4492 - mae: 49917.4492 - val_loss: 50323.1953 - val_mae: 50323.1953
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49300.5312 - mae: 49300.5312 - val_loss: 50333.1641 - val_mae: 50333.1641
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49593.7383 - mae: 49593.7383 - val_loss: 50320.6758 - val_mae: 50320.6758
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49294.8555 - mae: 49294.8555 - val_loss: 50316.2266 - val_mae: 50316.2266
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49264.2617 - mae: 49264.2617 - val_loss: 50314.6250 - val_mae: 50314.6250
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49912.9766 - mae: 49912.9766 - val_loss: 50317.8984 - val_mae: 50317.8984
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49521.6289 - mae: 49521.6289 - val_loss: 50322.6406 - val_mae: 50322.6406
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48895.4062 - mae: 48895.4062 - val_loss: 50322.4102 - val_mae: 50322.4102
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48582.1836 - mae: 48582.1836 - val_loss: 50324.6719 - val_mae: 50324.6719
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48943.4141 - mae: 48943.4141 - val_loss: 50328.1758 - val_mae: 50328.1758

In [21]:
%load_ext tensorboard

In [25]:
%tensorboard --logdir RegressionLogs/fit

Reusing TensorBoard on port 6006 (pid 10204), started 0:00:04 ago. (Use '!kill 10204' to kill it.)

In [26]:
model.save('regressionmodel.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.